*{
    padding: 0px 0px;
    margin: 0px 0px;
    outline: none;
}
body{
    font-family: 'PT Serif', serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 25%;
    align-items: center;
}
.title {
    color: rgb(0 150 136 / 65%);
    margin-top: 26px;
    font-size: 38px;
    margin-left: 20px;
}
.input-container{
    width:50%;
    padding: 10px 10px;
    min-width: 25%;
}

.input-container input{
    box-sizing: border-box;
    width: 100%;
    height:45px;
    padding: 7px 10px;
    border: thin solid #0000000f;
}
.item:hover .item-delete {
    opacity: 0.8;
}

.item-delete {
    opacity: 0;
    transition-duration: 0.2s;
    margin-right: 20px;
}

.list{
    width:50%;
    min-width: 25%;
    height:400px;
    overflow: auto;
}
.item-checkbox{
    width: 24px;
    height: 20px;
    margin: 2px 2px;
}
.item{
    display: flex;
    border:thin solid #0000000f;
    height:45px;
    font-size: 15px;
    align-items: center;
    
}
.item-title {
    flex-grow: 1;
    margin: 0px 5px;
}
.item.completed .item-title {
    text-decoration: line-through;
    color: #888;
}

.priority{
    display: flex;
    margin-right: 30px;
}

.priority div {
    margin: 0px 2px;
}


.filter-list{
    display: flex;
    width: 35%;
    min-width: 25%;
    font-size: 10px;
    text-align: center;
    justify-content: center;
}

.filter-list >div{
    display: flex;
    margin:5px 5px;
    align-items: center;
    padding: 3px 4px;
    border: #80808012 solid 2px;
}

