*{
    padding: 0px 0px;
    margin: 0px 0px;
}
body{
    background-color: #a9a9a91c;
    font-family: 'Satisfy', cursive;
    color: #444141ab;
}
#header{
    text-align: center;
    font-size: 8vw;
    color: #00968887;  

}
#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    overflow-y: auto;
    /* width: 80%; */
}
#input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
#input-box >input {
    padding: 0.3vw 3vw;
    font-size: 2.5vw;
    width: 72%;
    height: 6vw;
    border: none;
    border-bottom: 0.5px solid lightgray;
    /* font-family: 'Satisfy', cursive; */
}

input :hover,input:focus{
 cursor: text;
}
#list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.item {
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#000000cf;
    width: 80%;
    background-color: white;
    font-size: 1.7vw;
    height: 6vw;
    border-bottom: 0.5px solid lightgray;
}
#radio-task {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#radio-task >p{
    padding: 0px 10px;
}
button#delete{
    background-color: white;
    padding: 0.5vw 0.7vw;
    border:none;
    color: rgb(207, 79, 57);
}
button#delete:hover{
    border: 0.1px solid lightgray;
    border-radius: 50%;
}
#info {
    display: flex;
    justify-content: space-evenly;
    width: 64%;
    align-items: center;
    background-color: white;
    height: 4vw;
    font-size: 1.3vw;
}
#display-choice {
    display: flex;
    padding: 0px 10px;
}
div#tasks-left {
    margin-left: 2px;
}
#display-choice>div{
    padding: 5px 7px;
    margin: 0px 9px;    
}
#display-choice>div:hover{
    border: 0.1px solid #a3962757;
    border-radius: 10%;
}