#parent{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-content: center;
}

.item{
    background-color: #cabaca;
    border: 2px solid red;
    height:100px;
    width: 100px;  
    font-weight: bold;  
    font-size: 30px;
}

#container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin: 40px 0px; 
}

button{
    background-color: #cabaca;
    border: 2px solid red;
    height:100px;
    width: 100px;  
    font-weight: bold;  
    font-size: 30px;
}

p{
    text-align: center;
    font-size: 40px;
    color: blue;
    font-weight: bold;
}